<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<main>
    <%- include('toolboard.ejs') %>    
    <%- include('./partials/secundairy-buttons.ejs') %>

</main>

<%- include('./partials/foot.ejs') %>
